<p id="notice"><%= notice %></p>

<h1>Order Selects</h1>

<table>
  <thead>
    <tr>
      <th>Order id</th>
      <th>Menu id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_selects.each do |order_select| %>
      <tr>
        <td><%= order_select.order_ID %></td>
        <td><%= order_select.menu_ID %></td>
        <td><%= link_to 'Show', order_select %></td>
        <td><%= link_to 'Edit', edit_order_select_path(order_select) %></td>
        <td><%= link_to 'Destroy', order_select, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Select', new_order_select_path %>
